<section class="pt-5 our_product bg-white">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h1 class="text-dark fw-bold fs-1 text-center">Our Products</h1>
            </div>
        </div>
        <div class="row mb-5 flex-wrap justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <div class="card border-0 rounded-0 position-relative overflow-hidden our_pr_overlay w-100">
                        <div class="w-100 position-relative">
                            <img src="../../assets/img/pr1.avif" class="card-img-top" />
                            <div class="position-absolute top-0 text-white end-0 mt-3 me-3 badge rounded-circle d-flex justify-content-center align-items-center">
                                20%
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-2">Syltherine</h5>
                            <p class="card-text mb-2">Syltherine</p>
                            <a href="#" class="text-dark text-decoration-none d-flex justify-content-between">Rs 25,00,000 <span class="price_text">Syltherine</span></a>
                        </div>
                        <div class="position-absolute overlay_product w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                            <div class="w-100 text-center mb-3">
                                <button type="button" class="bg-white py-3 px-5 fs-5 fw-bold add_to_cart_btn border-0">Add to cart</button>
                            </div>
                            <div class="d-flex">
                                <ul class="m-0 p-0 list-unstyled d-flex justify-content-between align-items-center">
                                    <li>
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-solid text-white fa-share-nodes"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Share</span>
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-solid text-white fa-code-compare"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-regular text-white fa-heart"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Like</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <div class="card border-0 rounded-0 position-relative overflow-hidden our_pr_overlay w-100">
                        <div class="w-100 position-relative">
                            <img src="../../assets/img/pr1.avif" class="card-img-top" />
                            <div class="position-absolute top-0 text-white end-0 mt-3 me-3 badge rounded-circle d-flex justify-content-center align-items-center">
                                20%
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-2">Syltherine</h5>
                            <p class="card-text mb-2">Syltherine</p>
                            <a href="#" class="text-dark text-decoration-none d-flex justify-content-between">Rs 25,00,000 <span class="price_text">Syltherine</span></a>
                        </div>
                        <div class="position-absolute overlay_product w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                            <div class="w-100 text-center mb-3">
                                <button type="button" class="bg-white py-3 px-5 fs-5 fw-bold add_to_cart_btn border-0">Add to cart</button>
                            </div>
                            <div class="d-flex">
                                <ul class="m-0 p-0 list-unstyled d-flex justify-content-between align-items-center">
                                    <li>
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-solid text-white fa-share-nodes"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Share</span>
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-solid text-white fa-code-compare"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-regular text-white fa-heart"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Like</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <div class="card border-0 rounded-0 position-relative overflow-hidden our_pr_overlay w-100">
                        <div class="w-100 position-relative">
                            <img src="../../assets/img/pr1.avif" class="card-img-top" />
                            <div class="position-absolute top-0 text-white end-0 mt-3 me-3 badge rounded-circle d-flex justify-content-center align-items-center">
                                20%
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-2">Syltherine</h5>
                            <p class="card-text mb-2">Syltherine</p>
                            <a href="#" class="text-dark text-decoration-none d-flex justify-content-between">Rs 25,00,000 <span class="price_text">Syltherine</span></a>
                        </div>
                        <div class="position-absolute overlay_product w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                            <div class="w-100 text-center mb-3">
                                <button type="button" class="bg-white py-3 px-5 fs-5 fw-bold add_to_cart_btn border-0">Add to cart</button>
                            </div>
                            <div class="d-flex">
                                <ul class="m-0 p-0 list-unstyled d-flex justify-content-between align-items-center">
                                    <li>
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-solid text-white fa-share-nodes"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Share</span>
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-solid text-white fa-code-compare"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-regular text-white fa-heart"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Like</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <div class="card border-0 rounded-0 position-relative overflow-hidden our_pr_overlay w-100">
                        <div class="w-100 position-relative">
                            <img src="../../assets/img/pr1.avif" class="card-img-top" />
                            <div class="position-absolute top-0 text-white end-0 mt-3 me-3 badge active rounded-circle d-flex justify-content-center align-items-center">
                                20%
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-2">Syltherine</h5>
                            <p class="card-text mb-2">Syltherine</p>
                            <a href="#" class="text-dark text-decoration-none d-flex justify-content-between">Rs 25,00,000 <span class="price_text">Syltherine</span></a>
                        </div>
                        <div class="position-absolute overlay_product w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                            <div class="w-100 text-center mb-3">
                                <button type="button" class="bg-white py-3 px-5 fs-5 fw-bold add_to_cart_btn border-0">Add to cart</button>
                            </div>
                            <div class="d-flex">
                                <ul class="m-0 p-0 list-unstyled d-flex justify-content-between align-items-center">
                                    <li>
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-solid text-white fa-share-nodes"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Share</span>
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-solid text-white fa-code-compare"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="#" class="text-decoration-none">
                                            <span>
                                                <i class="fa-regular text-white fa-heart"></i>
                                            </span>
                                            <span class="fs-5 text-white fs-medium ms-2">Like</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>